.App {
  text-align: center;

  // Header styles

  // Stats styles

  .update {
    margin-top: 10vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 20px;
    }

    .data-values {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      label {
        padding-right: 10px;
        font-size: 20px;
      }
      input {
        border: none;
        border-bottom: 1px solid rgb(150, 150, 150);
        text-align: center;
        width: 40px;
        font-size: 18px;
      }

      input[type="number"] {
        -moz-appearance: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      div {
        padding: 0 40px 0 40px;
        // min-width: 200px;
      }
    }
  }
}
